@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body,html,head {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

#root {
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;

    background-color: #2a4158;
}
